#catdata{
width: 77%;
margin: 40px auto;
background-color: rgba(0, 0, 0, 0.5);
box-shadow: 0 0 20px 5px black;
color: white;
height: 115px;
}

#catdata ul li{
float: left;
list-style-image: url(../images/ar.png);
width: 225px;
padding-top: 4px;
}

.grid {
	list-style: none;
	margin: 30px auto;
	padding: 0;
	margin-left: 6px;
	width:100%;
}

.grid li {
	display: block;
	float: left;
	padding: 0.4em;
	background-color: rgb(0, 0, 0);
	box-shadow: 0 0 23px 4px black;
	width: 23%;

}


.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
}



#grid li a h1{
margin:0px;
}

#sidebar{
position: relative;
float: left;
width:175px;
border-radius:10px;
background: rgba(0, 0, 0, 0.46);
color: grey;
top: 200px;
left: 1%;
border:1px solid #282828;
padding:5px;
}

#mainside{
padding:7px;
margin:0px;

}



.range{
margin-left: 16px;
padding: 0px;
margin-top: 6px;
}

.range li{
list-style-image: url(../images/ar.png);
}

.range_a{
color:rgb(233, 233, 233);
}

.childside{
margin-top: 6px;
padding: 0px;
margin-left: 15px;
}

.childside li{
list-style:disc;
}

.sidel1{
display: block;
width: 100%;
border-bottom: 1px solid;
margin:0;
}

.sidel2{
list-style-type: square;
color: rgb(56, 56, 56);
height: 20px;
}

#mainside li a:hover{
text-decoration:underline;
color:white;

}



.block{
float:right;
}

.heading{
padding: 0.5em;
/* border-bottom: 1px solid rgb(51, 49, 49); */
color: rgb(250, 250, 250);
background: rgba(68, 68, 68, 0.48);
border-radius: 5px;
}

.sidebutton{
position: fixed;
right: 0;
  text-decoration: none;
  cursor:pointer;
  top:40%;
}
.sidebutton img{
height:198px;
}


#gallery{
margin:0 auto;
position: relative;
width: 74%;
padding: 0px 29px 29px 29px;
left:20px;
}
}




#clockbox{
height: 20px;
width: 373px;
position: absolute;

}

#quicklink{

color: whitesmoke;
height:140px;
bottom: 0px;
position: relative;
float: left;
background-color: rgba(0, 0, 0, 1);
margin: 0px auto;
min-width: 978px;
padding: 1px 26px 14px 25px;
/* border-radius: 5px; */
color: whitesmoke;
/* box-shadow: 0 0 20px 5px black; */
height:140px;
}


#quicklink tr th{
color:#e5e5e5;
max-width: 275px;
font-size: 20px;
text-align: left;
width: 1%;
}

#quicklink tr td a{
text-decoration:none;
color:gray;
}


#quicklink tr td a:hover{
text-decoration:none;
color:white;
font-size:20px;
}

#quicklink li{
list-style-image: url(../images/ar.png);
height:18px;
}

#social{
float: right;
font-size: 21px;
padding: 10px;
right: 55px;
position: relative;
top: 9px;
}

